#gallary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer-content {
    background-color: #90D4C6;
    padding: 2em 0em;

    width: 100%;
    .footer-logo {
        display: flex;
        justify-content: center;
        margin: 2em 0em;
        img {
            width: 50%;
        }
    }
}

.link-list, .content-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2em;
    a {
        text-decoration: none;
        color: $clr-moderate-cyan;
    }
}

.link-list {
    justify-content: center;
    gap: 1.5em;
    margin-top: 4em;
    margin-bottom: 2em;
}