@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
@import './imports';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: $font-barlow;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;

    font-family: $font-fraunces;
}

h1, h2, h3 {
    font-family: $font-fraunces;
}

.section-content {
    text-align: center;
    h2, p {
        max-width: 90%;
        margin: auto;
    }
    h2 {
        padding: 1em;

        color: $clr-very-dark-desaturated-blue;

        font-weight: 900;
        font-size: 1.8em;
    }
    p {
        line-height: 1.6em;
        color: $clr-dark-grayish-blue;
    }
    .main-btn {
        position: relative;

        margin: 2em;
        margin-bottom: 3em;

        font-size: 1em;
        &::after {
            content: '';

            position: absolute;
            bottom: -3px;

            display: block;
            width: 100%;
            height: 10px;

            
            background-color: $clr-yellow;
            border-radius: 2em;
            
            opacity: 0.3;
            z-index: -1;
        }
    }
}