@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
.main-nav {
  position: relative;
  padding: 1.5em;
}

.main-nav .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .nav-logo {
  margin-right: auto;
}

.dropdown-items {
  position: absolute;
  top: 100%;
  right: 30px;
  background-color: white;
  max-width: 320px;
  width: 100%;
  padding: 1.5em;
  margin-top: 1em;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  text-align: center;
}

.dropdown-items li a {
  color: #818498;
  text-decoration: none;
}

.dropdown-items li button {
  color: #23303e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  padding: 0.5em 1em;
  background-color: #fad400;
  border-radius: 2em;
}

.dropdown-items::after {
  content: '';
  position: absolute;
  top: -30px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-bottom: 30px solid white;
}

@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .dropdown-items {
    display: block;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown-items li a {
    color: white;
  }
  .dropdown-items li button {
    background-color: white;
    padding: 0.8em;
  }
  .dropdown-items li button:hover {
    background-color: #77CDF5;
    color: white;
  }
  .dropdown-items::after {
    display: none;
  }
}

#header {
  background-color: skyblue;
  background: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 80vh;
}

#header h1 {
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1em;
  font-size: 2.4em;
}

#header .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}

@media screen and (min-width: 1024px) {
  #header {
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  #header .arrow {
    margin-top: 7em;
  }
}

#transform, #stand-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.single-section {
  height: 600px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-section h3 {
  margin-bottom: 1em;
  font-size: 2em;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.single-section p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin-bottom: 3em;
  width: 90%;
}

#graphic-design {
  background: url("../images/mobile/image-graphic-design.jpg");
  color: #24554A;
}

#photography {
  background: url("../images/mobile/image-photography.jpg");
}

#photography h3 {
  color: #052C3B;
}

#photography p {
  color: #19536C;
}

#photography, #graphic-design {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  #main {
    width: 100%;
  }
  #transform, #stand-out {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #transform .section-content, #stand-out .section-content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: left;
  }
  #transform .section-content h2, #transform .section-content p, #transform .section-content button, #stand-out .section-content h2, #stand-out .section-content p, #stand-out .section-content button {
    margin: 0;
    padding: 0;
  }
  #transform .section-content h2, #stand-out .section-content h2 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-start;
    max-width: 50%;
    margin-left: 3em;
  }
  #transform .section-content p, #stand-out .section-content p {
    justify-self: flex-start;
    margin-left: 6em;
    max-width: 75%;
    font-size: 0.9em;
  }
  #transform .section-content button, #stand-out .section-content button {
    margin-left: 5.5em;
    padding: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-start;
  }
  .section-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.9em;
    margin: 0;
  }
  #stand-out {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-image-container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    height: 420px;
  }
}

#client-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#client-testimonials h3 {
  font-size: 0.8em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #818498;
  margin: 4em 0em;
}

.client-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 5em;
}

.client-container img {
  width: 72px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.client-container .client-comment {
  max-width: 85%;
  color: #5a636c;
  line-height: 1.5em;
}

.client-container h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.client-container .client-role {
  color: #a7abae;
  font-size: 0.8em;
}

#gallary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#footer-content {
  background-color: #90D4C6;
  padding: 2em 0em;
  width: 100%;
}

#footer-content .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0em;
}

#footer-content .footer-logo img {
  width: 50%;
}

.link-list, .content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2em;
}

.link-list a, .content-list a {
  text-decoration: none;
  color: #458c7e;
}

.link-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5em;
  margin-top: 4em;
  margin-bottom: 2em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Fraunces", serif;
}

h1, h2, h3 {
  font-family: "Fraunces", serif;
}

.section-content {
  text-align: center;
}

.section-content h2, .section-content p {
  max-width: 90%;
  margin: auto;
}

.section-content h2 {
  padding: 1em;
  color: #23303e;
  font-weight: 900;
  font-size: 1.8em;
}

.section-content p {
  line-height: 1.6em;
  color: #818498;
}

.section-content .main-btn {
  position: relative;
  margin: 2em;
  margin-bottom: 3em;
  font-size: 1em;
}

.section-content .main-btn::after {
  content: '';
  position: absolute;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fad400;
  border-radius: 2em;
  opacity: 0.3;
  z-index: -1;
}

.section-content .stand-out-btn::after {
  background-color: red;
}
/*# sourceMappingURL=styles.css.map */